@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
html, body {
    overflow-x: hidden;
   
}
:root{
    --fonte-principal: "Montserrat", sans-serif;
    --cor-verde-mar: #02A28F;
    --cor-branco-texto: #FFFFFF;
    --cor-cinza: #616161;

}

body{
    margin: 0;
    width: 90rem;
    height:96rem ;
}

main {
width: 100%;


}
h1.cabecalho__titulo  {
    background-color: var(--cor-verde-mar);
    width: 100%;
    height: auto;
    color:var(--cor-branco-texto);
    font-family:var(--fonte-principal) ;
    font-weight: 700;
    font-size: 2.25rem; 
padding-left: 10%;
}

h2{
    background-color: var(--cor-verde-mar);
    color:var(--cor-branco-texto);
    font-family:var(--fonte-principal) ;
    font-weight: 700;
    font-size: 2.25rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.25rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    min-height: 100vh;

}

#container-principal{
    margin-left: 8rem;
}

.cabecalho__titulo{  
   display: flex;
    padding: 1rem 0 1rem 9rem ;
}
.cabecalho{  
    height: 4rem;
    width: 100%;
    margin-bottom:3rem ;
}


/* Estilos do Card */
.card-opiniao {
    width: 98%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 1em;
    box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.15);
   
}

.card-image {
    position: relative;
    width: 100%;
    height: 24rem;
  
    background-image: url('img/imgopiniao.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}

/* Conteúdo do Card */
.card-content {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    color: #ffffff;
}

.card-tag {
    font-family: var(--fonte-principal);
font-size: 1rem;
font-weight: 400;
color: var(--cor-branco-texto);
text-align: left;

    font-size: 0.875rem;
    opacity: 0.8;
    margin-bottom: 0.5rem;
    display: block;
}

.card-title {
    font-family: var(--fonte-principal);
    color: var(--cor-branco-texto);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.card-author {
    font-family: var(--fonte-principal);
    color: var(--cor-branco-texto);
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.9;
}

/* Efeito de Escurecimento */
.card-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece a imagem de fundo */
    border-radius: 0.6rem
}


#tituloEsubtitulo{
    padding: 18.75rem 0 0 1.5rem;
    
}




.post-titulo{
    display: flex;
background-color: var(--cor-verde-mar);
    align-items: center;
    margin-left: 1em;
    margin-top: 1em;
    width:43rem;
    height: 3rem;
    border-radius:0.5rem;
    justify-content: space-between;
    margin-bottom: 0.8rem;


    
}
.post-titulo h2{
    font-family: var(--fonte-principal);
font-size: 1rem;
font-weight: 700;
margin-left: 1em;
padding: 0.5rem 1rem 0.5rem 1rem;
display: flex;
justify-content: center;
align-items: center;
justify-items: center;

}
.post-titulo p{
  margin-right: 1em;
  font-family: var(--fonte-principal);
font-size: 0.90rem;
font-weight: 500;
color: var(--cor-branco-texto);
text-decoration: underline;

}



#cards{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
   
    /* margin-right: 14rem; */
    gap:2rem;
    opacity: 0px;
    margin-left: 1rem;
  
    margin-bottom: 4rem;


}
.card{
    box-shadow: 0  0.6rem 1.25rem 0 #0000001A;
    width: 20rem;
    height: 100%;
    border-radius: 1em;
    padding: 0.5rem 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    
    gap: 0.5rem;


}

.card p{
    font-family: var(--fonte-principal);
}
.card h3{
font-family: var(--fonte-principal);
font-size: 1.25rem;
font-weight: 700;



}

.card__assunto{

font-size: 0.9rem;
font-weight: 400;
color: var(--cor-verde-mar);


}
.card__data{
    font-family: var(--fonte-principal);
font-size: 0.9rem;
font-weight: 500;


}


figure img{
    height: auto;
    width: 100%;
    
}

.container-nav{
    width: 100%;
    
}
.container-nav h2{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.25rem;
    width:22.5rem;

padding: 1rem 2rem 0.6rem 1.5rem;
margin-top: 1em;
margin-bottom: 1em;
border-radius: 1rem;

box-shadow: 0 0.6rem 0.6rem 0 #0000001A;



}

.card__popular{
display: flex;
box-shadow: 0 0.6rem 0.6rem 0 #0000001A;
padding: 1rem 2.5rem 0.6rem 1rem;
width: 22.5rem;
height: 6rem;
border-radius: 0.6rem;

}



.cards{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco-texto);
width: 100%;
    border-radius:2rem ;
    margin-bottom: 2rem;
    
}
.cards img{
    margin-right: 1em;
  
   
}
.card__descricao h3{
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.4rem;
}

.card__descricao p {
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
    font-weight: 500;
    
}

#categorias{
    width: 26rem;
    height:1.25rem;
  
    
}
#categorias__titulo{
    font-family: Montserrat;
font-size: 1rem;
font-weight: 600;
text-align: left;

}

.categoria{

    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-principal);
font-size: 1rem;
font-weight: 600;

color: var(--cor-cinza);


    
}

footer{
   font-family: var(--fonte-principal);
 background-color: var(--cor-verde-mar);
 width: auto;
 height: auto;
 padding: 0.9rem 0 0.9rem 0;
}
.copyright{
    color: var(--cor-branco-texto);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size:0.8rem ;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

}



/* Responsividade para telas menores */
@media only screen and (max-width: 1023px) and (max-width: 768px) {
    *{
        margin: 0;
    padding: 0;
        font-family: var(--fonte-principal);
}

#container-principal, #container-post, .card, .card__popular, #categorias {
    width: 100%;
    max-width: 100%;
  }
body {
    width: 100%;
    height: 100vh;
  }

    .post-titulo{
        display: flex;
        width: 100%;
        text-align: centers;
        
       
    }

    main{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .container {
        grid-template-columns: 1fr; 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        /* Coluna única */
    }

    #container-principal {
        margin-left: 0;
        padding: 0 0rem;
    }

    .cabecalho{
 
         width: 100%;
         height: 1.81rem;
   
    }

    .cabecalho__titulo {
        display: flex;
        text-align: center;
        font-size: 1.75rem;
        
    }
    header{
        padding-bottom: 1rem;
        
    }


    #container-post{
        width: 100%;
        max-width: 100vw; /* Garante que o container não ultrapasse a largura da tela */
        height: auto; /* Permite que o container ajuste a altura automaticamente */
      /* Adiciona espaçamento interno */
        box-sizing: border-box; 
        margin-top: 1em;
    }
    .post-titulo {
        display: flex;
     /* Para facilitar a responsividade, empilha os elementos */
        align-items: center;
        text-align: center;
        padding: 0;
        width: 100%; /* Limita a largura máxima */
        margin: 0 auto;
        gap: 0.5rem; /* Espaçamento entre os elementos internos */
    
    }
    
    
    .card-image {
        position: relative;
    width: 100%;
    height: 25rem;
    
    background-image: url('img/imgopiniao.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    }
   
    
    #cards {
        grid-template-columns: 1fr; /* Cards em uma coluna */
        gap: 1rem;
        margin-left: 0;
    }
    .card{
        width: 100%;
        height: auto;
    }


    .post-populares{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        
    }

    .post-populares h2{
        width: 100%;
        max-width: 100vw; 
        height: auto; 
        box-sizing: border-box; 
        margin-top: 1em;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    #container-post{
        display: flex;
        flex-direction: column;
align-items: center;  
    }

    .card__popular{
        width: 100%;
        
    }

    

    .post-titulo h2, .post-titulo p, .container-nav h2, .card__descricao h3, .card__descricao p, footer {
      
         text-align: center;
        margin: 0 auto; 
    }
    .card__popular{
        align-items: normal;
    }

#categorias{
    width: 100%;
    height: auto;
 margin-bottom: 2rem ;
text-align: center;

}
#categorias__titulo{
    width: 100%;
    max-width: 100vw; 
    height: auto; 
    box-sizing: border-box; 
    margin-top: 1em;
    padding: 0.5rem 1rem 0.5rem 1rem;
   
}
}

@media only screen and (min-width: 320px) {


    main{
    
   margin: 0;
   padding: 0;
}
    .cabecalho{
    margin-bottom: 3rem;
    text-align: center;
    padding-right: 2rem;
   
}

.cabecalho__titulo{ 
    font-family: var(--fonte-principal);
    width:24rem;
    height:4rem;
padding: 1rem 0 1rem 1.5rem;
text-align: center;
margin: 0;



}

.post-populares h2{
    width: 100%;
    max-width: 100vw; 
    height: auto; 
    box-sizing: border-box; 
    margin-top: 1em;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.card-opiniao {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
   
    margin: 0;
}

.card-image{
   padding: 2rem;
}

.container{
    margin: 0;
    padding: 0;
}


.card-image {
    position: relative;
    width:95%;
    height: 20rem;
  margin: 0;

    background-image: url('img/imgopiniao.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}


#categorias h2{
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
    max-width: 100vw; 
    height: auto; 
    box-sizing: border-box; 
    margin-top: 1em;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


}